.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: slateblue;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  position: sticky;
}

.header .logo a {
  font-family: "Butcherman", serif;
}

.header a {
  color: aliceblue;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.header nav a:hover {
  background: linear-gradient(90deg, orange, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header h1 {
  margin: 0;
}

.header h1 a {
  text-decoration: none;
}

.header nav a.active {
  text-decoration: underline;
  color: orange;
  pointer-events: none;
}

.header nav a.active:hover {
  text-decoration: underline;
  cursor: default;
  color: orange;
  background: none;
  -webkit-text-fill-color: unset;
}
