@import "./css/header.css";
@import "./css/grid.css";

@import url("https://fonts.googleapis.com/css?family=Butcherman|Playfair+Display|Roboto&display=swap");

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section,
article,
footer {
  margin-left: 1em;
}

.main-content {
  padding-top: 1em;
  font-family: sans-serif;
}
